@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 90%;
}
.CompanyMessage {
  color: #4f46e5;
}
.Message-From-Company {
  /* background-image: url('../public/Img/Wave-wallpaper.jpg'); */
  /* background-color: rgb(189, 225, 244); */
  background-color: rgb(250, 194, 19, 0.8);
  backdrop-filter: blur(20px);
}
.SlideCard-right {
  font-size: 40px;
  font-weight: 700;
  color: #4f46e5;
  line-height: 45px;
}
/* Slice Card */

.slicecard-family {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

.slicecard-BG {
  background-color: #4f46e5;
  box-shadow: 0px 0px 20px 0px rgb(162 163 163);
}
.SlideCard-right-main{
  border: 1px solid rgb(202, 202, 202);
  box-shadow: 0px 0px 20px 0px rgb(206, 206, 206);
}

/* Slice Card */

/* FAQ */
.FAQ-main-container{
  background-color: #8781fe
  /* background-color: #A020F0 */
  /* background-color: rgb(232, 231, 231) */
}
/* FAQ */ 
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .SlideCard-right {
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
  }
}


/* Directormain  */

.Second-nav-list{
  padding: 5px 14px;
  background-color: #f6f4ff;
  border-radius: 4px;
}

.Second-nav-list-logout{
  background-color: #f6f4ff;
  padding: 5px 14px;
  border-radius: 4px;
}

.Second-nav{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* white-space: ; */
}
.Second-nav-ul{
  flex-wrap: wrap;
  display: flex;
}

@media only screen and (max-width: 640px) {
  /* .Second-nav-ul{
    display: flex;
    flex-direction: column;
  }
  .Second-nav{
    align-items: center;
  } */
  
}

/* Directormain  */