.section-header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .section-header-lines{
  margin: auto;
} */
.section-header-span, .line-1{
  width: 50px;
  height: 5px;
  border-bottom: 2px solid #4F46E5;
  border-top: 2px solid #4F46E5;
  margin: auto;
}
/* .section-header-lines{
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.Section-header-title{
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif */
  font-family:  'Signika Negative', sans-serif;;
  src: url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
  color: #203152;
  font-weight: 800;
}
