.main-card-container{
    position: relative;
    top: 90px;
    /* background-color: rgba(50, 50, 50, 0.8); */
    background-color: rgb(250, 194, 19, 0.9);
    backdrop-filter: blur(10px);

}
.main-card-container p {
    color: #393e39
}
.main-card-container button{
    background-color: #4F46E5;
    color: rgb(250, 194, 19);
    font-weight: 600;
}